# Auto detect text files and perform LF normalization
* text=auto
#.tps (TexturePacker Settings) files are showing up as PL/SQL in GitHub, but it's actually just XML
*.tps linguist-language=XML
# Daz Script language detection issues: https://github.com/Laserwolve-Games/Overlord/discussions/5
*.dsa linguist-language=QML